/* ---------Main Colors--------------- */

/*------red = #FF0000----- */
/*------white = #FFFFFF--- */
/*------grey = #C0C0C0-----*/
/*------black = #000000----*/

/* ---------End Main Colors-------------*/


/* ---Header Tag Styling---- */


h1 {
	padding: 2%;
	width: 80%;
	color: #FF0000;
	text-shadow: 1.5px 1.5px 1.5px #000000;
	margin: 0 0 1em 0;
	margin-top: 10px;
}

h3 {
	text-shadow: 1px 1px 1px #000000;
	color: #FF0000;
}

/* ---End Header Tag Styling---- */


/* ---Header Styling---- */
header {
	font-family: Poller One, sans-serif, helvetica;
	color: #FFFFFF;
	width: 100%;
	font-size: 1.0em;
	margin-top: 1%;
}	

/* ---End Header Styling---- */


/* ---Body/Wrapper Styling---- */
body {
	font-family: Oxygen, sans-serif, helvetica;
	font-size: 100%;
	color: #000000;
	max-width: 960px;
	margin: 0 auto;
	background-image: url('../images/Bonus-Texture.jpg');
	background-position: left;
}

#wrapper {
	width: 100%;
	background-color: black;
	margin: 0 auto;
}

/* ---End Body/Wrapper Styling---- */

/* ---Navigation Styling--------------- */
#nav {
	float: right;
	width: 90%;
	display: block;
	margin: 0 0 .001em 0;
	list-style: none;
	background-color: #000000;
}

#nav li {
	float: right; 
}

#nav li a {	
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	border-right: 1px solid #ccc; 
}

#nav li a:hover {
	color: #FFFFFF;
	background-color: #FF0000; 
}

/* ---End Navigation Styling--------------- */

/*---Main CTA Styling----*/
#cta {
	float: left;
	opacity: .8;
	max-width: 57.25%;
}

#cta img {
	max-width: 100%;
}

aside {
	float: right;
	width: 33.86%;
	color: #FFFFFF;
	padding: 3%;
	background: #000000;
	/*background: -moz-linear-gradient(left,  #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 
	53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#959595), 
	color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), 
	color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b));
	background: -webkit-linear-gradient(left,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 
	53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
	background: -o-linear-gradient(left,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 		
	53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
	background: -ms-linear-gradient(left,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 
	53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
	background: linear-gradient(left,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 	
	53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);*/
}

/* ---End Main CTA Styling---- */


/* ---Profile Styling--------------- */
#profile {
	font-size: .9em;
	clear: both;
	padding: 2.5%;
	margin-bottom: 1%;
	background-color: #FFFFFF;
}

#profile ol {
	list-style-type: none;
}

.profile {
	column-count: 3;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	padding: 2.5%;
	background-color: #FFFFFF;
}

/* ---End Profile Styling--------------- */

/* ---Image Gallery Styling--------------- */

#images {
	font-size: .9em;
	padding: 2.5%;
	background-color: #FFFFFF;
}
#gallery {
	list-style-type: none;
	width: 97%;
	margin: 0 auto;
	overflow: hidden;
	padding: 1.5%;
	background-color: #FFFFFF;
}
#gallery li {
	margin: 2%;
}

#gallery li a {
	float: left;
	display: block;
	opacity: .8;
	border: 4px solid #000000;
	width: 43.5%;
	margin: 2%;
	/*height: 175px;
	width: 175px;*/
}

#gallery li img {
	max-width: 100%;
}

#gallery li a:hover {
	opacity: 1.3;
	border-color: red;
}

/* ---End Image Gallery Styling--------------- */


/* ---Button Styling--------------- */
.button {
	box-shadow: inset 0px 4px 3px 0px #f29c93;
	background-color: #fe1a00;
	border-radius: 6px;
	border: 1px solid #d83526;
	display: inline-block;
	color: #ffffff;
	font-family: Oxygen;
	font-size: 1.1em;
	font-weight: bold;
	padding: 3% 11%;
	text-shadow: 1px 1px 0px #b23e35;
	
}

.button:hover {
	background-color: #ce0101;
}

.button:active {
	position: relative;
	top: 1px;
}

/* ---End Button Styling--------------- */



/* ---Membership/Sign Up Section Placeholder--------------- */
#wrapper2 {
	background-color: #C0C0C0;

}

#membership {
	clear: both;
	padding: 2.5%;
}

#signup {
	padding: 2.5%;
}
/* ---End Membership/Sign Up Section Placeholder--------------- */

/* ---Footer Styling--------------- */
footer {
	background-color: #000000;
	padding: 1%;
	color: #FFFFFF;
}

footer ul {
		font-family: inherit;
		list-style: none;
		padding: 2% 0;
	}
 
	footer li a {
		display: block;
		padding: 1% 3%;
		color: #FFFFFF;
		text-decoration: none;
		list-style-type: square;
		line-height: 2em;
		height: 2em;
	}

#disclaimer {
	text-align: left;
	color:#FFFFFF;
}

/* ---End Footer Styling--------------- */

/* ---Begin Media Queries--------------- */

/*---  Media Query for full-size displays (desktop/laptop) ---*/
@media only screen and (min-width: 768px) and (max-width: 960px) {
	header {
		font-size: .9em;
	}
	
	nav {
		font-size: .9em;
	}
	
	aside {
		font-size: .85em;
		width: 37.555%;
		padding: 2.5%;
		margin-bottom: 1%;
	}

	#membership, #signup, #profile, footer {
		font-size: .9em;
		width: 95%;	
		padding: 3%;
	}
	
	#wrapper2 {
		background-color: #C0C0C0;
		height: 5%;
		margin-top: 1%;
	}
}
/*---  End Media Query for full-size displays (desktop/laptop) ---*/


/*---  Media Query for medium displays (tablets/readers/iPads) ---*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	header {
		padding-left: 1%;
		font-size: .7em;
	}
	
	nav {
		font-size: .8em;
	}
	
	aside {
		font-size: .75em;
		width: 37.555%;
		padding: 2.5%;
		margin-bottom: 1%;
	}

	#membership, #signup, #profile, #images, footer {
		font-size: .75em;
		width: 95%;	
		padding: 3%;
	}
	
	#wrapper2 {
		background-color: #C0C0C0;
		height: 5%;
		margin-top: 1%;
	}

	footer ul {
		font-family: inherit;
		list-style: none;
		padding: 2% 0;
	}
 
	footer li a {
		display: block;
		padding: 1% 3%;
		color: #FFFFFF;
		text-decoration: none;
		list-style-type: none;
		letter-spacing: 0.1em;
		letter-spacing: 0.1em;
		line-height: 2em;
		height: 2em;
	}

	#disclaimer {
		font-size: .85em;
	}

	
}

/*--- End Media Query for medium displays (tablets/readers/iPads) ---*/

/*---  Media Query for smaller displays (smartphone) ---*/
@media only screen and (max-width: 479px) {
	header {
		font-size: .6em;
	}
	
	nav {
		display: none;
	}
	
	body {
		letter-spacing: 0.1em;
		letter-spacing: 0.1em;
	}
	
	aside {
		font-size: .75em;
		width: 93%;
		padding: 3.5%;
		margin-bottom: 1%;
	}
	
	#cta {
		display: none;
	}
	
	.button {
		margin-bottom: 7%;
		font-size: .75em;
	}
	
	#membership, #signup, #profile, #images, footer {
		font-size: .65em;
		width: 95%;	
		padding: 3%;
	}
	
	#profile {
		width: 95%;
	}
	
	.profile {
		width: 95%;
		column-count: 1;
		-moz-column-count: 1;
		-webkit-column-count: 1;
		line-height: 200%;
	}
	
	#gallery li a{
		border: 4px solid #000000;
		margin: 1%;
	}
	
	#gallery li a:hover {
		opacity: 1.3;
		border: none;
	}

	footer ul {
		font-family: inherit;
		list-style: none;
		padding: 2% 0;
	}
 
	footer li a {
		display: block;
		padding: 5% 3%;
		color: #fff;
		text-decoration: none;
		list-style-type: none;
		letter-spacing: 0.1em;
		letter-spacing: 0.1em;
		line-height: 1.75em;
		height: 1.75em;
		border-top: 1px solid #C0C0C0;
		border-bottom: 1px solid #C0C0C0;
	}
	
	#disclaimer {
		font-size: .75em;
	}

}

/*--- End Media Query for smaller displays ---*/

/* ---End Media Queries--------------- */
